# Gitignore for large files
# dirs
# model/
# datasets/
# pre-trained-model/
tensorboard/
wandb/
.vscode/
__pycache__/
precoessed_data/
model/
DeepSpeedExamples/
pre-trained-model/
datasets/
# files
datasets/tulu/tulu-hf/xzuyn___json/xzuyn--allenai-tulu-filtered-0a458d814fe817f5/0.0.0/ac0ca5f5289a6cf108e706efcf040422dbbfa8e658dee6a819f20d76bb84d26b/json-train.arrow
datasets/tulu/tulu-hf/downloads/8a4a147477759e4be7de31dc11916b7ef4c9b74f3402e299718acc176b824b3c
datasets/tulu/tulu-hf/downloads/895b6f840a4bfe25306a41ba8daa84b1d8e564038710d41a97ed6bded421b4f0
datasets/tulu/tulu-hf/downloads/b3cdcec7af22c659ec57277b792c66cb0c670ca1dc18f235de1fc7bedc063ecf
datasets/tulu/tulu-hf/downloads/711257515e607fbcc24d9474cd85e6720e7fa56360201f34876c3ff03174377d
datasets/tulu/open-instruct/data--first-time/raw_train/super_ni/tasks/task1291_multi_news_summarization.json
datasets/tulu/open-instruct/data--first-time/raw_train/cot/cot_zsopt.jsonl
datasets/tulu/open-instruct/data--first-time/raw_train/cot/cot_fsopt.jsonl
datasets/tulu/open-instruct/data--first-time/raw_train/flan_v2/flan_v2_resampled_100k.jsonl
datasets/tulu/open-instruct/data--first-time/raw_train/unnatural_instructions/core_data.jsonl
datasets/tulu/open-instruct/data--first-time/raw_train/oasst1/2023-04-12_oasst_ready.trees.jsonl
datasets/tulu/open-instruct/data--first-time/raw_train/baize/medical_chat_data.json
datasets/tulu/open-instruct/data--first-time/raw_train/baize/quora_chat_data.json
datasets/tulu/open-instruct/data--first-time/raw_train/baize/stackoverflow_chat_data.json
datasets/tulu/open-instruct/data/raw_train/super_ni/tasks/task1291_multi_news_summarization.json
datasets/tulu/open-instruct/data/raw_train/cot/cot_zsopt.jsonl
datasets/tulu/open-instruct/data/raw_train/cot/cot_fsopt.jsonl
datasets/tulu/open-instruct/data/raw_train/flan_v2/flan_v2_resampled_100k.jsonl
datasets/tulu/open-instruct/data/raw_train/unnatural_instructions/core_data.jsonl
datasets/tulu/open-instruct/data/raw_train/oasst1/2023-04-12_oasst_ready.trees.jsonl
datasets/tulu/open-instruct/data/raw_train/baize/medical_chat_data.json
datasets/tulu/open-instruct/data/raw_train/baize/quora_chat_data.json
datasets/tulu/open-instruct/data/raw_train/baize/stackoverflow_chat_data.json
datasets/tulu/open-instruct/data/raw_train/sharegpt/sg_90k_part1_html_cleaned.json
datasets/tulu/open-instruct/data/raw_train/sharegpt/sg_90k_part2_html_cleaned.json
datasets/tulu/open-instruct/data/processed/super_ni/super_ni_data.jsonl
datasets/tulu/open-instruct/data/processed/cot/cot_data.jsonl
datasets/tulu/open-instruct/data/processed/flan_v2/flan_v2_data.jsonl
datasets/tulu/open-instruct/data/processed/oasst1/oasst1_data.jsonl
datasets/tulu/open-instruct/data/processed/baize/baize_data.jsonl
datasets/natural-instructions-2.8/tasks/task1291_multi_news_summarization.json
datasets/yesno_task/datatsets/train.json
datasets/yesno_task/datatsets/train_pruning.json
datasets/yesno_task/datatsets/vector_data_from_bert/train_features.npy
datasets/yesno_task/datatsets/old_version/train.json
datasets/yesno_task/datatsets/old_version/pruning_set/train.json
datasets/Dahoas/rm-static/data/train-00000-of-00001-2a1df75c6bce91ab.parquet
pre-trained-model/models--bert-base-uncased/blobs/68d45e234eb4a928074dfd868cead0219ab85354cc53d20e772753c6bb9169d3
pre-trained-model/models--bert-base-uncased/snapshots/1dbc166cf8765166998eff31ade2eb64c8a40076/model.safetensors
pre-trained-model/huggyllama/llama-7b/model-00001-of-00002.safetensors
pre-trained-model/huggyllama/llama-7b/model-00002-of-00002.safetensors
pre-trained-model/huggyllama/llama-7b/pytorch_model-00002-of-00002.bin
pre-trained-model/huggyllama/llama-7b/pytorch_model-00001-of-00002.bin
model/svm/svm_model.pkl

pre-trained-model/facebook/opt-6.7b/pytorch_model-00002-of-00002.bin
pre-trained-model/facebook/opt-6.7b/pytorch_model-00001-of-00002.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-710/optimizer.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-849/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-708/optimizer.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-1416/pytorch_model.bin
datasets/yesno_task/random_pruning/0.4_train.json
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-1132/optimizer.bin
datasets/yesno_data/random_pruning_v1/0.6_train.json
model/from-config-of-opt-1.3b/0.2-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-1275/pytorch_model.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-426/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.2-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-425/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-2547/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-svm-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-3396/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-1416/optimizer.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-708/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-3396/pytorch_model.bin
datasets/yesno_data/train.json
datasets/yesno_task/random_pruning/0.8_train.json
datasets/yesno_data/random_pruning_v1/0.4_train.json
datasets/yesno_data/random_pruning/0.6_train.json
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.9-pruning/pytorch_model.bin
datasets/yesno_data/random_pruning/0.5_train.json
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-284/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-4245/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-2830/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.8-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-1698/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-2264/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-5660/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-834/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-849/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-3336/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-849/optimizer.bin
datasets/yesno_data/train_pruning.json
datasets/yesno_data/random_pruning_v1/0.9_train.json
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-1132/optimizer.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-994/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-4245/optimizer.bin
model/from-config-of-opt-1.3b/svm-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-2832/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-2264/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.1-pruning/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.5-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-710/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1132/optimizer.bin
datasets/yesno_data/random_pruning/0.9_train.json
model/from-config-of-opt-1.3b/no-pruning/checkpoint-1415/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-2832/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-850/optimizer.bin
datasets/yesno_data/random_pruning_v1/0.8_train.json
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-142/optimizer.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-1415/optimizer.bin
datasets/yesno_task/random_pruning/0.5_train.json
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-852/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-1698/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-566/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-1698/optimizer.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-834/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-3540/optimizer.bin
datasets/yesno_data/random_pruning/0.8_train.json
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-1132/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-1668/optimizer.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1415/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-7075/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-4170/optimizer.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-2125/pytorch_model.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-849/optimizer.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-2502/pytorch_model.bin
datasets/yesno_data/random_pruning/0.7_train.json
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-426/optimizer.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-2124/pytorch_model.bin
model/svm-on-support-vector/svm_model_support_vector.pkl
model/from-config-of-opt-1.3b/0.1-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-3336/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-566/optimizer.bin
model/from-config-of-opt-1.3b/0.3-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-1700/optimizer.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-2502/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.3-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-566/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-5660/optimizer.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-3540/pytorch_model.bin
datasets/yesno_task/random_pruning/0.7_train.json
datasets/yesno_data/random_pruning_v1/0.7_train.json
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.7-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-4528/optimizer.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-283/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1698/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-no-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-852/optimizer.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-2125/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-4245/optimizer.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-5660/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-4170/pytorch_model.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-284/optimizer.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-142/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-850/pytorch_model.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-425/pytorch_model.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-4245/pytorch_model.bin
model/from-config-of-opt-1.3b/svm-pruning/checkpoint-1668/pytorch_model.bin
datasets/yesno_data/random_pruning_v1/0.5_train.json
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-568/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-566/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-994/optimizer.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.4-pruning/checkpoint-2264/optimizer.bin
datasets/yesno_data/vector_data_from_bert/train_features.npy
datasets/yesno_task/random_pruning/0.6_train.json
model/from-config-of-opt-1.3b/no-pruning/checkpoint-2830/pytorch_model.bin
model/from-config-of-opt-1.3b/no-pruning/checkpoint-7075/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-1698/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-2547/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1415/optimizer.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-1700/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-2264/optimizer.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-5660/optimizer.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-283/optimizer.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-3396/optimizer.bin
model/from-config-of-opt-1.3b/0.1-pruning/checkpoint-568/optimizer.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-4528/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1132/pytorch_model.bin
model/opt-1.3b-from-pretrain/opt-1.3b-equal-tasks-random-0.6-pruning/pytorch_model.bin
datasets/yesno_task/random_pruning/0.9_train.json
datasets/yesno_data/random_pruning/0.4_train.json
datasets/yesno_data/vector_data_from_bert/train_pruning_features.npy
model/from-config-of-opt-1.3b/0.5-pruning/pytorch_model.bin
model/from-config-of-opt-1.3b/0.8-pruning/checkpoint-1132/pytorch_model.bin
model/from-config-of-opt-1.3b/0.2-pruning/checkpoint-1698/pytorch_model.bin
model/from-config-of-opt-1.3b/0.5-pruning/checkpoint-2124/optimizer.bin
model/from-config-of-opt-1.3b/0.6-pruning/checkpoint-3396/optimizer.bin
model/from-config-of-opt-1.3b/0.3-pruning/checkpoint-1275/optimizer.bin
pre-trained-model/bert-base-uncased/pytorch_model.bin
.git/objects/pack/pack-a623833ade7ad8ceafa61ca305ccdcb90ed9bd6c.pack
